@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Murecho:wght@100;200;500&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Megrim&family=Murecho:wght@100;200;300;400;500&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML {
    font-size: 62.5%;
}

body {
    font-size: 3rem;
    background-color: white;
    color: #494949FF;
}

 /** Design Articles **/
#divArticles {
    width: 100%;
}
.article {
    border-radius: 2.5rem;
}

.article_show {
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem auto;
    border: 1px solid darkgrey;
    border-radius: 5px;
    cursor: pointer;
    width: 65%;
}

.article_show h2 {
    font-family: 'Murecho', sans-serif;
}

.article_show p:first-child {
    font-family: 'Gideon Roman', cursive;
}

.Footer {
    background: rgb(226,0,0);
    background: linear-gradient(90deg, rgba(226,0,0,1) 6%, rgba(222,111,112,1) 55%, rgba(238,162,156,0.94859950816264) 100%);
    text-align: center;
    margin-bottom: 0;
    margin-top: 4rem;
    padding: 5rem 0;
}
